<app-contact-top></app-contact-top>
<app-header></app-header>
<div class="container">
	<h1 class="text-center">Our Gallery</h1>
	<div class="row" style="padding-bottom: 35px;">
		<div class="col-md-4 col-xs-12 col-lg-4">
			<img src="assets/img/slideshow_1.jpeg" width="100%">
		</div>
		<div class="col-md-4 col-xs-12 col-lg-4">
			<img src="assets/img/slideshow_2.1.jpeg" width="100%">
		</div>
		<div class="col-md-4 col-xs-12 col-lg-4">
			<img src="assets/img/slideshow_3.jpg" width="100%">
		</div>
	</div>
	<div class="row" style="padding-bottom: 50px;">
		<div class="col-md-4 col-xs-12 col-lg-4">
			<img src="assets/img/news_img_1.jpg" width="100%">
		</div>
		<div class="col-md-4 col-xs-12 col-lg-4">
			<img src="assets/img/news_img_2.jpeg" width="100%">
		</div>
		<div class="col-md-4 col-xs-12 col-lg-4">
			<img src="assets/img/news_img_3.jpeg" width="100%">
		</div>
	</div>
</div>