<app-contact-top></app-contact-top>
<app-header></app-header>
<div class="services-header text-center">
	<section class="services-title">
		<div>
			<h1>Auto Towing</h1>
			<p>Helping driver out since 1991...</p>
		</div>
	</section>	
</div>

	<div class="our_services">
		<p class="text-center subtitle">Our Services</p>
		<div class="row row_1 all-details">
			<div class="col-md-4 col-lg-4 col-sm-4">
				<b>01.</b>
				<h3>Winch-out</h3>
				<p>Winching out a car, that's stuck in a mud,<br> dirt, sand or any other kind of a terrain or <br> whatever - is what we do the best!</p>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4">
				<b>02.</b>
				<h3>Car Towing</h3>
				<p>Should your car ever get involved in an<br>unfortunate accident and be stuck, we'll always<br>be ready to come to your aid and save the day!</p>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4">
				<b>03.</b>
				<h3>On-site Repair</h3>
				<p>Getting off the road or getting into a road<br>accident can inflict very serious technical <br>damage to your car's most crucial parts.</p>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4" style="padding-bottom: 85px;">
				<b>04.</b>
				<h3 style="top: 12.5%;">Trucks Towing</h3>
				<p>It shouldn't really come as a surprise, that <br> when we're towing or winching some <br> vehicle out, the bigger weight of it is...</p>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4" style="padding-bottom: 85px;">
				<b>05.</b>
				<h3 style="top: 12.5%;">Lockouts</h3>
				<p>With some car keys malfunctioning <br>sometimes and the reprogrammed keys not <br>always working, it's not that hard...</p>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-4" style="padding-bottom: 85px;">
				<b>06.</b>
				<h3 style="top: 12.5%;">Jump Starting</h3>
				<p>Oftentimes a car might go offroad and begin to <br>malfunction.... The worst case scenario is the <br> engine going off right in the middle of the road.</p>
			</div>
		</div>
	</div>