<div class="container">
	<div class="row">
		<div class="col-md-6 col-lg-6 col-sm-6" style="padding-right: 20px;">
			<img src="assets\img\towing.jpeg" width="95%">
		</div>
		<div class="col-md-6 col-lg-6 col-sm-6" style="padding-top: 47.5px; width: 490px;">
			<p style="
				font-size: 36px;
				font-weight: 700;
				color: #36404b;">
			Experience <br> Outranks Everything!</p>
			<p class="detail-text-sm">GET TO KNOW US</p>
			<p style="
				font-size: 16px;
				color: #777777;
				padding-top: 27.5px;
				padding-bottom: 5px;">
			Founded by a band of former marines, we carry on with the same productivity and work ethics as we did while serving our country in the military.</p>
			<p style="
				font-size: 16px;
				color: #777777;">
			Having been helping car and truck owners winch-out, jumpstart and tow their vehicles out for 26 years as of now, we've got all the experience that it takes to get the job done!</p>
			<p style="
				font-size: 24px;
				color: #b9141c;
				padding-top: 17.5px;
				padding-bottom: 40px;">
			Also, we're known for our 24/7 availability!</p>
			<button class="btn btn-primary" style="
				font-size: 14px;
				width: 152px;
				height: 50px;
				font-family: 'Lato', sans-serif;"
				routerLink="/about">ABOUT US</button>
		</div>
	</div>
</div>