<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" routerLink="/"><span class="pull">PULL</span><span class="out">Out</span></a>
		</div>
		<ul class="nav navbar-nav">
			<li><a routerLink="/">HOME</a></li>
			<li class="menu-delimiter"></li>
			<li class="dropdown" appDropdown><a class="dropdown-toggle" role="button">ABOUT US<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a routerLink="/about">About</a></li>
					<li><a routerLink="/history">History</a></li>
					<li><a routerLink="/news">News</a></li>
					<li><a routerLink="/archives">Archives</a></li>
				</ul>
			</li>
			<li class="menu-delimiter"></li>
			<li><a routerLink="/services">SERVICES</a></li>
			<li class="menu-delimiter"></li>
			<li><a routerLink="/gallery">GALLERY</a></li>
			<li class="menu-delimiter"></li>
			<li><a routerLink="/news">NEWS</a></li>
			<li class="menu-delimiter"></li>
			<li><a href="#">CONTACTS</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right phone-number">
			<li style=" float: none; ">Call us now <br> 555.748.6051</li>
			<img src="assets\img\call-answer.png" class="img-phone">
		</ul>
	</div>
</nav>
